asgiref 
astroid 
black 
Brotli
CacheControl
cachy
certifi
cffi
charset-normalizer
cleo
click 
clikit
colorama 
crashtest
crispy-bootstrap5
cssselect2
defusedxml
dill 
distlib
Django 
django-crispy-forms
django-etc
django-jet
django-qr-code
django-sitemessage
filelock
fonttools
google-api-python-client
html5lib
httplib2 
idna
install
isort 
keyring
lazy-object-proxy 
lockfile
lxml
mccabe 
msgpack
mypy-extensions 
mysqlclient 
oauth2client 
packaging
pastel
pathspec 
pexpect
Pillow 
pkginfo
platformdirs
poetry
poetry-core
psycopg2 
ptyprocess
pyasn1 
pyasn1-modules 
pycparser
pydantic
pydyf
pylev
pylint 
pyparsing
pyphen
python-dotenv 
pytz
pywin32-ctypes
qrcode
reportlab
requests
requests-toolbelt
rsa 
segno
shellingham
six
sqlparse 
svglib
tinycss2
tomli 
tomlkit
typing_extensions
tzdata 
uritemplate 
urllib3
virtualenv
weasyprint
webencodings
wrapt 
zopfli
django-sendgrid-v5
sendgrid
django_mailjet